/* HEADER CODE */

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #AFCBFF;
}

header,
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #0E1C36;
    color: #AFCBFF;
    border-bottom: 10px solid white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    justify-content: center;
    border-bottom: none;
}

header h1 {
    display: inline-block;
    font-size: 50px;
}


header nav {
    padding: 15px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a {
    color:#AFCBFF
}


/* MAIN CODE */

/* CONTAINERS */

#container-1,
#container-2,
#container-3 {
    background-color: #AFCBFF;
    width: 90%;
    margin: 0 auto;
    border: 5px solid #AFCBFF;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

#container-1{
    height: 300px;

}

#container-2{
    height: 700px;
}

#container-3 {
    height: 100px;
}


/* TITLE CARDS */

#title-card-1,
#title-card-2,
#title-card-3 {
    height: 100%;
    border-bottom: 10px solid #AFCBFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 100px;
    flex-grow: 1;
}


/* CONTENT CARDS */

#content-card-1,
#content-card-2,
#content-card-3 {
    width: auto;
    height: 100%;
    border-bottom: 10px solid #AFCBFF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: 200px;
    flex-grow: 3;
}

#content-card-1,
#content-card-3 {
    align-items: center;
}

#container-1 div h3,
#container-2 div h3,
#container-3 div h3 {
    font-size:xx-large;
    font-weight: 100;
    background-color: #AFCBFF;
    height: fit-content;
    width: fit-content;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
    background-position: center;
    border: 3px solid #AFCBFF;
    width: 100%;
    height: 50%;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}


.card-2,
.card-3,
.card-4,
.card-5 {
    width: 50%;
    height: 25%;
}

.card-1 {
    background-image: url(./images/my-landing-page.png);
}

.card-2 {
    background-image: url(./images/horiseon-media-marketing.png);
}

.card-3 {
    background-image: url(./images/prework-study-guide.png);
}

.card-4 {
    background-image: url(./images/coming-soon.png);
}

.card-5 {
    background-image: url(./images/coming-soon.png);
}

#content-card-1 p,
#content-card-3 p {
    padding: 5px 0 5px 0;
    color: #0E1C36;
    height: fit-content;
    width: fit-content;
}

#content-card-3 p a {
    color: #0E1C36;
}

.card-1 h4,
.card-2 h4,
.card-3 h4,
.card-4 h4,
.card-5 h4 {
    color: white;
    background-color: #0E1C36;
    line-height: 300%;
    text-align: center;
    border: 2px solid white;
    height: fit-content;
    width: 25%;
    min-width:fit-content;
    padding: 2px;
}

.card-2 h4,
.card-3 h4,
.card-4 h4,
.card-5 h4 {
    color: #0E1C36;
    background-color: white;
    border: 2px solid #0E1C36;

}