
/* the universal selector sets the font-family of the whole website */
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #AFCBFF;
}

/* applies settings to the header and footer */
header,
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #0E1C36;
    color: #AFCBFF;
    border-bottom: 5px solid white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    justify-content: center;
    border-bottom: none;
}

/* applies settings to the content within the header */
header img {
    width: 100px;
    height: auto;
    max-height: 110px;
}

header h1 {
    display: inline-block;
    font-size: 50px;
}

header nav {
    padding: 15px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a {
    color:#AFCBFF
}

/* applies settings to each section within the main element */
#container-1,
#container-2,
#container-3 {
    background-color: #AFCBFF;
    width: 90%;
    margin: 0 auto;
    border: 5px solid #AFCBFF;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

#container-1 {
    height: 250px;
}

#container-2 {
    height: 700px;
}

#container-3 {
    height: 100px;
}

/* applies settings to the title cards of each section */
#title-card-1,
#title-card-2,
#title-card-3 {
    margin-bottom: 10px;
    height: 100%;
    border-right: 5px solid #0E1C36;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 100px;
    flex-grow: 1;
}

/* applies settings to the content cards of each section */
#content-card-1,
#content-card-2,
#content-card-3 {
    margin-left: 20px;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: 200px;
    flex-grow: 3;
}

#content-card-1,
#content-card-3 {
    align-items: center;
}

#content-card-1 {
    justify-content: space-around;
}

#content-card-1 p,
#content-card-3 p {
    padding: 5px 0 5px 0;
    color: #0E1C36;
    height: fit-content;
    width: fit-content;
}

#content-card-3 p a {
    color: #0E1C36;
}

/* applies settings to headings within the title card */
#title-card-1 h3,
#title-card-2 h3,
#title-card-3 h3 {
    font-size:xx-large;
    font-weight: 100;
    background-color: #AFCBFF;
    height: fit-content;
    width: fit-content;
}

/* applies settings to the cards displaying my project images */
.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
    background-position: center;
    border: 3px solid #AFCBFF;
    width: 100%;
    height: 50%;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.card-2,
.card-3,
.card-4,
.card-5 {
    width: 50%;
    /* width: 100%; */
    height: 25%;
    /* height: 19%; */
}

.card-1 {
    background-image: url(./images/my-landing-page.png);
}

.card-2 {
    background-image: url(./images/horiseon-media-marketing.png);
}

.card-3 {
    background-image: url(./images/prework-study-guide.png);
}

.card-4 {
    background-image: url(./images/coming-soon.png);
}

.card-5 {
    background-image: url(./images/coming-soon.png);
}

/* applies settings to the buttons linked to my project pages */
.button {
    font-size: 17px;
    text-align: center;
    color: lightgray;
    background-color: #0E1C36;
    border: 2px solid lightgray;
    min-width:fit-content;
    padding: 10px;
}

.button:hover {
    color: gray;
    background-color: black;
    border-color: gray;
}

/* adjusts the settings for the nav bar to go from a row to a column */
@media screen and (max-width: 915px) {
    header nav {
        padding: 0;

    }

    header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    header nav ul li {
        height: fit-content;
        width: fit-content;
        padding: 5px;

    }
}

/* adjust the settings for the project picture cards to be smaller and orient
from a row to a column depending on the screen size */
@media (max-width: 768px) {
    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5 {
        height: 24%;
    }

    .card-2,
    .card-3,
    .card-4,
    .card-5 {
        width: 100%;
        height: 19%;
    }

    #content-card-3 {
        flex-direction: column;
    }
}

/* adjust the settings for the "About Me" paragraph container to get bigger 
when the screen becomes too small */
@media (max-width: 522px) {
    #container-1 {
        height: 400px;
    }
}